@import 'ember-bootstrap/bootstrap';
@import 'bootstrap-overrides/elements/cards';
@import 'modules';

html {
  font-size: 15px;
}

body {
  background-color: #eaeaea;
}


.number-bullet {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  text-align: center;
  border: 1px solid black;
}

.checkmark-bullet {
  @extend .number-bullet;

  &:before {
    content: "\2713";
  }
}
