<div local-class='title-bar'>
  <div class='container'>
    <h2 data-test-header>{{t 'widgetHeader'}}</h2>
    <h4 local-class='sub-header' data-test-sub-header>{{t 'practiceName'}}</h4>
  </div>
</div>